<h1>Edit Bulk Discount</h1>

<%= render partial: 'form', locals: {path: "/merchants/#{@merchant.id}/bulk_discounts/#{@bulk_discount.id}", method: :patch, button_text: 'Edit Discount', name_value: @bulk_discount.name, percentage_value: @bulk_discount.percentage, threshold_value: @bulk_discount.threshold} %>
<br>
<br>
<%= link_to 'Back', merchant_bulk_discounts_path(@merchant), class: 'btn btn-outline-secondary' %>
