<h1>New Bulk Discount</h1>

<%= render partial: 'form', locals: {path: "/merchants/#{@merchant.id}/bulk_discounts", method: :post} %>
<br>
<br>
<%= link_to 'Back', merchant_bulk_discounts_path(@merchant) %>
