<h1><%= @bulk_discount.name %></h1>

<p>Percentage Discounted: <%= @bulk_discount.percentage %>%</p>
<p>Number of Items for Eligibility: <%= @bulk_discount.threshold %>+</p><br/>

<%= link_to 'Back', merchant_bulk_discounts_path(@merchant) %>
