<h1>Welcome to the Admin Dashboard</h1>
<hr><br>

<h2>Go to:
  <p><%= link_to 'Admin Merchants Index', admin_merchants_path %></p>
  <p><%= link_to 'Admin Invoices Index', admin_invoices_path %></p>
</h2>

<br><hr><br>

<h2>Top 5 Customers</h2>

<br><hr><br>

<h2>Incomplete Invoices</h2>