
<nav class="welcome">
  <%= link_to 'Admin Dashboard', admin_index_path, class:"btn btn-outline-info btn-lg"%>
  <%= link_to 'Merchants Index', merchants_path, class:"btn btn-outline-info btn-lg"%>
</nav>
